@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

/* typeface */
body {
    background-color: #000000;
    color: white;
    font-size: calc(11px + 1vmin);
    font-family: "Mukta", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* line-height: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.workpage {
    background-color: black;
}

#backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -999;
    background-color: rgba(0, 0, 0, 0);
}

a {
    color: #a5c6ff;
    text-decoration: none;
}

p {
    font-family: "Mukta", sans-serif;
}

b {
    font-weight: 600;
}

h1 {
    font-size: calc(24px + 3vmin);
    font-family: "Mukta", sans-serif;
    font-weight: 500;
    line-height: calc(30px + 4vmin);
    font-style: normal;
    margin-block-start: 0.1em;
}

h2 {
    font-size: calc(14px + 1.6vmin);
    font-family: "Mukta", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 2.0rem;
    margin-block-start: 0.3em;
    margin-block-end: 0.1em;
}

a h2 {
    color: white;
}

small {
    color: #bbb;
}

small a {
    color: #bbb;
}

h2 a {
    color: white;
}

.mukta-extralight {
    font-family: "Mukta", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.mukta-light {
    font-family: "Mukta", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.mukta-regular {
    font-family: "Mukta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.mukta-medium {
    font-family: "Mukta", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.mukta-semibold {
    font-family: "Mukta", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.mukta-bold {
    font-family: "Mukta", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.mukta-extrabold {
    font-family: "Mukta", sans-serif;
    font-weight: 800;
    font-style: normal;
}

/* grid  */
.grid-container {
    display: inline-grid;
    width: 100%;
}

img {
    border-radius: 0.4rem;
    vertical-align: top;
}

.workpage-img-large {
    width: 95%;
    min-width: 100px;
}

.workpage-img-mid {
    width: 70%;
    min-height: 150px;
}

.indexpage-img {
    height: 25vmin;
    min-height: 150px;
    /* clip-path: inset(0px 0px 0em 2rem); */
}

.indexpage-img-medium {
    height: 20vmin;
    min-height: 130px;
}

.indexpage-img-small {
    height: 17vmin;
    min-height: 90px;
}

.indexpage-img-xs {
    height: 9.6vmin;
    min-height: 60px;
    /* clip-path: inset(0px 0px 0em 2rem); */
}

.enlarged {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

/* marquee */
.marquee {
    overflow: hidden;
    position: relative;
    height: calc(40px + 3vh);
    /* 5.5rem; */
    width: 100%;
    /* Full width of its parent */
    white-space: nowrap;
}

.marquee p {
    font-size: calc(18px + 3.5vh);
    font-weight: 600;
    font-style: normal;
    line-height: 4rem;
    margin-block-start: 1em;
    position: absolute;
    width: auto;
    height: 100%;
    margin: 0;
    text-align: center;
    display: inline-block;
}

#marq1 {
    animation: scroll-left 50s linear infinite;
}

#marq2 {
    animation: scroll-left-2 50s linear infinite;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll-left-2 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

iframe {
    margin: 2rem;
}